<sly data-sly-use.childUse="add-childs.js"/>
    <section id="${properties.text}">
    <div class="center wow fadeInDown">
                <h2>Our Partners</h2>
                <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut <br> et dolore magna aliqua. Ut enim ad minim veniam</p>
            </div>

            <div data-sly-test="${childUse.childs}" data-sly-list="${childUse.childs}" class="partners">
             <ul><li><a href="#">

              <sly data-sly-resource="${@path=item, resourceType='corlate/components/dependent/partners-child'}"/>  
  </a></li></ul>

            </div>        
</section>
