
<img class="img-responsive" src="${properties.fileReference}" alt="">
                        <div class="overlay">
                            <div class="recent-work-inner">
                                <h3><a href="#">Business theme </a></h3>
                                <p>${properties.para}</p>
                                <a class="preview" href="${properties.fileReference2}" rel="prettyPhoto"><i class="fa fa-eye"></i> View</a>
                            </div> 
                        </div>
