<!-- Our Skill -->

    <sly data-sly-use.childUse="add-childs.js"/>
			<div class="skill-wrap clearfix">
			
				<div class="center wow fadeInDown">
					<h2>Our Skill</h2>
					<p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut <br> et dolore magna aliqua. Ut enim ad minim veniam</p>
				</div>
				
				<div class="row">
                        <div data-sly-test="${childUse.childs}" data-sly-list="${childUse.childs}" class="row">
		
					<div class="col-sm-3">

                         <sly data-sly-resource="${@path=item, resourceType='corlate/components/dependent/skills-child'}"/>

					</div>
					

					
				</div>
	
            </div><!--/.our-skill-->
