<section id="${properties.text}">
<div class="row">
                <div class="col-sm-8">
                    <div class="media contact-info wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                        <div class="pull-left">
                            <i class="fa fa-phone"></i>
                        </div>
                        <div class="media-body">
                            <h2>${properties.h2}</h2>
                            <p>${properties.para}</p>
                        </div>
                    </div>
                </div>
            </div>